@import "../buttons";

.recording {
    box-shadow: 1px 1px 1px 1px #e5e5e5;
    display: flex;
    

    p {
        margin: 0;
        user-select: none;
    }

    .recording-left {
        flex-grow: 2;
        padding: 0.5em;

        p:last-child {
            opacity: 0.5;
        }
    }

    .recording-right {
        flex-grow: 1;
        text-align: right;

        button {
            @include iconButton();
        }
    }
}