@import "../container";

.bar {
    padding: 1em;
    @include container;

    > .logo {
        font-family: 'Bebas Neue';
        font-weight: bold;
        font-size: 2em;
        margin-left: .75vw;
        user-select: none;
    }
}