@import "../buttons";
@import "../text";
@import "../container";

.auditList {

    .auditList-header {
        display: flex;

        .auditList-header-left {
            flex-grow: 2;

            p {
                @include header(1.5em);
                margin: .5em;

                .auditList-count {
                    background-color: white;
                    vertical-align: middle;
                    padding: .25em;
                    padding-left: .4em;
                    padding-right: .4em;
                    border-radius: 50%;
                    font-family: 'Squada One';
                    font-size: .75em !important;
                }
            }
        }
    
        .auditList-header-right {
            flex-grow: 1;
            text-align: right;

            button {
                @include iconButton;
            }
        }
    }

    .auditList-container {
        @include container(white);

        /* Enough space for 3x recording listings. */
        height: calc(74px * 5); 
    }
}