@mixin iconButton($padding) {
    padding: $padding;
    margin: 0;
    background-color: transparent;
    border: 0;

    &:hover {
        cursor: pointer;
    }

    &:focus {
        outline: 0;
    }
}