@import "../buttons";
@import "../text";
@import "../container";

.taskList {

    .taskList-header {
        display: flex;
        padding: 0.5em;
        padding-left: 0;

        .taskList-header-left {
            flex-grow: 2;

            p {
                @include header(1.5em);

                .taskList-count {
                    background-color: white;
                    vertical-align: middle;
                    padding: .25em;
                    padding-left: .4em;
                    padding-right: .4em;
                    border-radius: 50%;
                    font-family: 'Squada One';
                    font-size: .75em !important;
                }
            }
        }
    
        .taskList-header-right {
            flex-grow: 1;
            text-align: right;

            button {
                @include iconButton(0)
            }
        }
    }

    .taskList-container {
        @include container(transparent, false);

        /* Enough space for 3x recording listings. */
        height: calc(54.65px * 10); 
    }
}